<!DOCTYPE html>
<html>
  <head>
    <title>ostmap sample</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ostmap sample</h1>
    <p>Welcome to ostmapsample</p>
  </body>
</html>
